@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s linear;

}

body {
    min-height: 100vh;
    background: url(images2.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 9%;
    z-index: 2;
    cursor: pointer;
}

.logo {
    font-family: 'Nova Square', sans-serif;
    font-size: 50px;
    color: rgb(33, 66, 34);
    text-decoration: none;
}

.header .navbar a {
    font-size: 25px;
    color: red;
    margin-right: 20px;
    text-decoration: none;
}

.header .navbar a:hover {
    color: rgb(33, 66, 34);
}

.header .navbar #close {
    display: none;
}

.header #menu {
    display: none;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: 'Teko', sans-serif;
    color: rgb(237, 53, 53);
    margin-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text .content {
    padding-top: 6.5rem;
}

.content p {
    font-size: 22px;
    color: rgb(22, 61, 22);
    line-height: 35px;
    padding: 16px 0;
}

.text .image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 3px 4px rgb(58, 45, 45);
}

.text .content .btn {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    list-style: none;
    background-color: red;
    border-radius: 3px;
    box-shadow: 1px 2px 3px red;
    cursor: pointer;
}

.text .content .btn:hover {
    letter-spacing: 2px;
    background-color: white;
    color: red;
    box-shadow: 1px 2px red;
}

.header .navbar #close {
    display: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: black;
}

@media (max-width:991px) {
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .logo {
        font-size: 33px;
    }
    .header .navbar a {
        font-size: 22px;
    }
    h1 {
        font-size: 48px;
    }
    .content p {
        font-size: 23px;
    }
}

@media (max-width:768px){
    .header #menu {
        display: inline-block;
    }
    .header .navbar {
        position: fixed;
        top: 0;
        right: -105%;
        width: 30rem;
        background-color: rgb(241, 84, 84);
        backdrop-filter: blur(50px);
        transition: 0.5s;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1200;
    }
    .header .navbar.active {
        right: 0;
    }

    .logo {
        font-size: 45px;
    }
    h1 {
        font-size: 32px;
    }
    .content p {
        font-size: 17px;
    }
    .text .image img {
        width: 35vh;
    }
}